//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//font-style
ul {
    list-style: none;
}

a {
    text-decoration: none;
    
}

// inizio scrollbar
body::-webkit-scrollbar-thumb {
    background-color: blue; 
    width: 100%;
}


*::-webkit-scrollbar {
    width: .75rem; //lasciare cosi per togliere le freccette
}

*::-webkit-scrollbar-track {
    background: lightgray;
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
}
// fine scrollbar

// FlexBox

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}



// Typography

body {
    font-family: Arial, Helvetica, sans-serif;
}