//header
header {
    height: 4.375rem;
    background-color: #353942;
    nav,
    .container {
        height: 100%;
    }
    
    a {
        color: #ffffff;
    }
}
.logo {
    height: 60%;
}
.logo img{
    height: 100%;
}
//main 

main {
    padding: 3.125rem;
    background: rgb(0,149,209);
    background: linear-gradient(90deg, rgba(0,149,209,1) 48%, rgba(70,189,236,1) 100%);
    height:calc(100vh - 4.375rem - 2.8125rem);
    overflow-y: auto;
}
.bg-dark-blue {
    background-color: #213e74;
}
.bg-light-blue {
    background-color: #0a5a90;
}
.b-radius-header {
    border-radius: .625rem .625rem 0 0;
}
.b-radius-body {
    border-radius: 0 0 .625rem .625rem;
}
.padding-card {
    padding: 3.125rem 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

//footer 
footer {
    background-color: #353942;
    height: 2.8125rem;
}

/* PAGINA LOGIN */

//campi input pagina login 
.login [type="email"],
.login [type="password"] {
    width: 100%;
    height: 1.875rem;
    padding-left: .3125rem;
}
.login [type="checkbox"] {
    margin-left: .1875rem;
    margin-right: .625rem;
    transform: scale(1.5);
}
.login .btn {
    width: 100%;
    padding: 10px 0;
}

// colore header e body card pagina login
.login .card-header {
    background-color: #213e74;
}
.login .card-body {
    background-color: #0a5a90;
    
}

//colore testo card pagina login
.login {
    color: #ffffff;
}

//larghezza form pagina login
.login form {
    width: 50%;
}

//testo forgot your password?
.forgot-password {
    font-size: .875rem;
    margin: 5rem 0 1.875rem 0;
}

/* PAGINA REGISTRAZIONE */

//campi input pagina registrazione
.register [type="email"],
.register [type="password"],
.register [type="text"] {
    width: 100%;
    height: 1.875rem;
    padding-left: .3125rem;
}
.register .btn {
    width: 80%;
    padding: 10px 0;
}

.register form {
    width: 70%;
}

/* PAGINA PROFILO PERSONALE */

.card-left,
.card-right {
    padding: 3.125rem 1.875rem;
}

.card-left {
    border-radius: .625rem 0 0 .625rem;
}

.card-right {
    border-radius: 0 .625rem .625rem 0;
}


//cerchio immagine
.personal_pic {
    overflow: hidden;
    object-fit: cover;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    img {
        height: 100%;
    }
}

//titolo nome
.profile h1 {
    margin-bottom: 20px;
}

//margini li 
.profile li {
    margin: .625rem 0; 
}

.cv {
    text-align: justify;
}

.instrument-list li {
    font-size: .875rem;
    background-color: #0a5a90;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: .625rem;
    border-radius: 5px;
}

//bottone modifica
.profile .btn {
    margin-top: 3.125rem;
    padding: 10px 30px;
}

.profile .info {
    color: lightgray;
    strong {
        color : white;
    }
}

/* PAGINA MODIFICA PROFILO */

.edit [type="email"],
.edit [type="password"],
.edit [type="text"],
.edit [type="tel"] {
    width: 100%;
    height: 1.875rem;
    padding-left: .3125rem;
}
.edit textarea {
    width: 100%;
}

.edit .info {
    padding-top: 20px;
}
.login [type="checkbox"] {
    margin-left: .1875rem;
    margin-right: .625rem;
    transform: scale(1.5);
}

.edit .form-group {
    margin: .9375rem 0;
}

.edit .mandatory {
    padding-left: 5px;
}

.edit .btn {
    text-align: right;
    padding: 10px 30px;
}

.delete_parent,
.save_parent {
    text-align: right;
}