//header
header {
    height: 4.375rem;
    background-color: #353942;
    a {
        color: white;
    }
}

//main 

main {
    height:calc(100vh - 4.375rem - 2.8125rem);
    overflow-y: auto;
}

//footer 
footer {
    background-color: #353942;
    height: 2.8125rem;
}